{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="../static/styles/board.css">
{% endblock %}

{% block content %}
    
        <div class=".col-md-9">
            <div class="parnet">
                <img class="h-100" src="../static/images/GameBoard.png" id="board" style="height: 795; width: 795;"/>
                {% for player in instances %}
                    <img class="image2" src="../static/images/{{ player.characterName }}.png" style="height: 80px; width: 50px; transform: translate( {{ player.gethtmlLocal(player.room) }} );">
                {% endfor %}
            </div>
            <script>     
                const socket = io();
                document.addEventListener('load', changeSID, true)
                function changeSID(){ 
                    socket.emit("TEST") } 
                document.getElementById("board").addEventListener("click", getMousePos, true)
                function getMousePos(e) {
                    var cursorX = e.pageX;
                    var cursorY = e.pageY;
                    socket.emit("room_select", cursorX, cursorY)
                }
            </script>
        </div>
    
        <div class=".col-md-3 table-list" style="display:inline-flex; gap: 10px; margin-right: 0;">
            <div class="suspects">
                <p>suspects</p>
                <p></p>
                <p></p>
                <p>Colonel Mustard</p>
                <input type="checkbox"/>
                <input type="text">
            
                <p>Prof Plum</p>
                <input type="checkbox"/>
                <input type="text">
              
                <p>Mr. Green</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Mrs. Peacock</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Miss. Scarlet</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Mrs. White</p>
                <input type="checkbox"/>
                <input type="text">
    
            </div>
         
            <div class="weapons">
                <p>weapons</p>
                <p></p>
                <p></p>
                <p>Knife</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Candlestick</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Revolver</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Rope</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Lead Pipe</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Wrench</p>
                <input type="checkbox"/>
                <input type="text">
    
            </div>
          
            <div class="rooms">
                <p>Rooms</p>
                <p></p>
                <p></p>
                <p>Hall</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Lounge</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Dinning Room</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Kitchen</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Ballroom</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Conservatory</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>billiard Room</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>Library</p>
                <input type="checkbox"/>
                <input type="text">
        
                <p>study</p>
                <input type="checkbox"/>
                <input type="text">
    
            </div>
     
        </div>
        
  
{% endblock %}