{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="../static/styles/board.css">
{% endblock %}

{% block content %}
    
        <div class=".col-md-9">
            <img class="h-100" src="../static/images/GameBoard.png" id="board" style="height: 795; width: 795;"/>
            <script>      
                const socket = io();
                document.getElementById("board").addEventListener("click", getMousePos, true)
                function getMousePos(e) {
                    var cursorX = e.pageX;
                    var cursorY = e.pageY;
                    socket.emit("room_select", cursorX, cursorY)
                }
            </script>
        </div>
    
        <div class=".col-md-3 table-list">
            <p>Red</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>Mustard</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>Green</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>Peacock</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>white</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>plum</p> 
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>
            <p>check</p>   
        </div>
        
  
{% endblock %}