<!-- 
   HTML template to be used for our game. The tutorial https://www.youtube.com/watch?v=AMp6hlA8xKA 
   was used to give a general format for HTML, css and javascript.
 -->
<!DOCTYPE html>
<html>
<!-- 
    Head element is technically optional. This info is not shown on the page, but is used to set 
    information such as the title, ect. 
    Here, it is also used to configure the socketio script
--> 
<head>
<!-- 
    Adding the socket information here, according to the tutorial:
    https://www.youtube.com/watch?v=AMp6hlA8xKA
--> 
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <style>
/* 
Text box to list the players name who chose the character
 */
        playerchoice {
            height: 50px;
            width:  200px;
            background-color: rgba(58, 59, 57, 0.572);
        }
/* 
Header for the landing page
 */
        .header {
        padding: 1px;
        background: rgb(252, 252, 252);
        font-size: 50px;
        }
/* 
Container to hold the characters for selection. 
This needs to be adapted to look better full screen. (right now the 
buttons are all pixel width sizes)
 */
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    </style>
</head>

<body>
<!-- 
    First set the landing page. this will hold a header with the game title and logo,
    and provide players a location to enter their username.
    We should add protection to prevent a user from starting if the username field
    is empty.  
 -->
    <div id="landing">
        <div class="header">
            <h1> <img src="/static/Logo.png" width="200" />
                 Clue-less
            </h1>
          </div>
        <input type="text" id="username" placeholder="Username">
        <button id="join-btn">JOIN</button>
    </div>
<!-- 
    This is a placeholder the game board. As of now it is just a picture, but we need
    to update it to be the dynamic game board. Maybe this should be a whole new template?
 -->
    <div id="gameInProgress" style="display:none;" >
            Game In Progress
    </div>

<!-- 
    This is a waiting page for a player joining too late
 -->
 <div id="GameBoard" style="display:none;" >
    <img src="/static/GameBoard.png" width="500" />
</div>

<!-- 
   The player select page will give players an opportunity to choose their character for 
   the game. Now it simply will display the name.
   It needs to be updated to lock choices if someone else has selected them. Also, players
   joining late do not see the choices made before they joined. How do we fix this?
 -->
    <div id="playerSelect" style="display:none;">  
        <div class="grid-container">
            <div class="grid-item">
                <button id="green-btn">
                    <img src="/static/MrGreen.png" width="200"  />
                </button>
                <input type="text" id="green" value="" name="input1">
            </div>
            <div class="grid-item">
                <button id="plum-btn">
                    <img src="/static/ProfPlum.png" width="200"  />
                </button>
                <input type="text" id="plum" value="" name="input1">
            </div>
            <div class="grid-item">
                <button id="mustard-btn">
                    <img src="/static/ColMustard.png" width="200"  />
                </button>
                <input type="text" id="mustard" value="" name="input1">
            </div>
            <div class="grid-item">
                <button id="peacock-btn">
                    <img src="/static/MrsPeacock.png" width="200"  />
                </button>
                <input type="text" id="peacock" value="" name="input1">
            </div>
            <div class="grid-item">
                <div class="grid-item">
                    <button id="scarlet-btn">
                        <img src="/static/MrsScarlet.png" width="200"  />
                    </button>
                    <input type="text" id="scarlet" value="" name="input1">
                </div>
            </div>
            <div class="grid-item">
                <button id="white-btn">
                    <img src="/static/MrsWhite.png" width="200"  />
                </button>
                <input type="text" id="white" value="" name="input1">
            </div>
          </div>   
          <button id="start-btn">START</button> 
        </div>
    </div>

    <script>
        const socket = io({autoConnect: false});
/* 
This first function is from the tutorial:     https://www.youtube.com/watch?v=AMp6hlA8xKA
It prompts the user for their username and stores it on the join button
 */
        document.getElementById("join-btn").addEventListener("click", function() {
            let username = document.getElementById("username").value;
            /*
                This forces the user to insert a non empty user name
            */
            if (username.trim() != ""){
                socket.connect();
                socket.on("connect", function() {
                    socket.emit("user_join", username);
            })
        }
        })

/* 
This button call sends the players from the selection page to the game board.
This will send any player on the game; however, players joining after this is 
selected will not be sent there. I am not sure what to do about this at the moment.
 */
        document.getElementById("start-btn").addEventListener("click", function() {
            socket.emit("game_start");

        })

/* 
The below functions set the player name in the fields below the player images
Can this be condensed?
 */        
        document.getElementById("green-btn").addEventListener("click", function(event) {
            socket.emit("player_select", "green");
        })
        document.getElementById("mustard-btn").addEventListener("click", function(event) {
            socket.emit("player_select", "mustard");
        })
        document.getElementById("plum-btn").addEventListener("click", function(event) {
            socket.emit("player_select", "plum");
        })
        document.getElementById("peacock-btn").addEventListener("click", function(event) {
            socket.emit("player_select", "peacock");
        })
        document.getElementById("scarlet-btn").addEventListener("click", function(event) {
            socket.emit("player_select", "scarlet");
        })
        document.getElementById("white-btn").addEventListener("click", function(event) {
            socket.emit("player_select", "white");
        })

        socket.on("playerChoice", function(data) {
            document.getElementById(data["player"]).value = data["username"];
        })

/* 
Start game function that sends all current players to the game board,
any players joining after this button will not be sent here.
 */   
        socket.on("start_game", function() {
            document.getElementById("playerSelect").style.display = "none";
            document.getElementById("GameBoard").style.display = "block";
        })

/* 
Add a player to the game if they implimented a valid username
 */   
 socket.on("player_joined", function() {
            document.getElementById("landing").style.display = "none";
            document.getElementById("playerSelect").style.display = "block";
        })
/* 
       Handle case when a player joins after the game started
 */   
 socket.on("player_joined", function() {
            document.getElementById("landing").style.display = "none";
            document.getElementById("gameInProgress").style.display = "block";
        })

    </script>

</body>
</html>